.lista-usuarios-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
    gap: 5px;
}

.lista-usuarios-container button {
    padding: 6px 10px;
    margin: 0 4px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;

}
.lista-usuarios-container button:hover {
    background-color: #0069d9;
}

.lista-usuarios-container button.pagination-button-current {
    font-weight: bold;
}
.pagination-dots {
    margin: 0 4px;
}
.tabla-usuarios {
    margin: 0 10px;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.btn {
    width: auto;
    display: inline-block;
}
.btn-detalles {
    background-color: #0bec19;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;

}