header {
    background-image: url("https://potatox.me/descargas/resources/4.jpg");
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    top: 0;
    left: 0;
    z-index: 10;
}

.auth-buttons {
    display: flex;
    flex-wrap: wrap;
}

.logo a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.auth-buttons a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

.auth-buttons a:first-child {
    margin-left: 0;
}
